<header class="top-bar">
  <nav>
    <div class="menuToggle">
      <input type="checkbox" />
      <!-- Some spans to act as a hamburger -->
      <span></span>
      <span></span>
      <span></span>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        {{#if currentUser}}
        <form action="/auth/logout" method="post">
          <li><button type="submit">Log Out</button></li>
        </form>
        {{else}}
        <li><a href="/auth/signup">Sign up</a></li>
        <li><a href="/auth/login">Log In</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
  <div class="logo">
    <img src="/images/logo.png" alt="logo">
  </div>
  <div class="avatar">
    {{#if currentUser}}
    <a href="/profile/{{currentUser._id}}"><img src="{{currentUser.imageUrl}}" alt="avatar"></a>
    {{else}}
    <a href="/profile/{{currentUser._id}}"><img src="/images/user.svg" alt="avatar"></a>
    {{/if}}
  </div>
</header>