{{> navbar}}
<main>
  <section>
    <ul class="cards">
      {{#if babySitterArray}}
        <p class="cards-title">Canguros disponibles</p>
        {{else}}
        <p class="cards-title">No hay canguros disponibles</p>
      {{/if}}
      {{#each babySitterArray}}
      <li><a class="cards-item" href="/profile/{{this._id}}">
        <div class="cards-img" style="background-image: url({{this.imageUrl}})">
        </div>
        <div class="cards-data">
          <p class="cards-data-name">{{this.username}}</p>
          <div class="cards-data-location">
            <img src="/images/pointer.svg" alt="">
            <p class="cards-data-location-city">{{this.city}}</p>
          </div>
          <div class="cards-rating">
            <p>Nota: {{this.rating}}</p>
          </div>
        </div>
        <img class="cards-item-arrow" src="/images/arrow.svg" alt="" sizes="" srcset="">
      </a></li>
      {{/each}}
    </ul>
  </section>
</main>
<div class="map-container">
  <div class="arrow-container">
    <div class="arrow-slide-toogle">
      <p class="map-text">Ver mapa</p>
      <div class="arrow-bg">
        <img class="arrow-img" src="/images/arrow.svg" alt="Arrow">
      </div>
    </div>
  </div>
  <div id="map"></div>
</div>

<script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.4/mapbox-gl-geocoder.min.js'></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

<script src="/javascripts/index.js"></script>
<script src="/javascripts/map.js"></script>