{{> navbar}}

<section>
  <article class="profile">
    <div class="profile-details">
      <div class="profile-details-avatar">
        <img src="{{currentUserJs.imageUrl}}" alt="">
      </div>
      <div class="profile-details-info">
        <p class="cards-data-name"><a href="/babysitter/{{currentUserJs._id}}">{{currentUserJs.username}}</a></p>
        <div class="cards-data-location">
          <img src="/images/pointer.svg" alt="">
          <p>Barcelona</p>
        </div>
      </div>
    </div>
    <div class="profile-description">
      <p>{{currentUserJs.description}}</p>
    </div>
    <div>
      {{#if isMyUser}}
      <form class="profile-actions"action="/profile/{{currentUserJs._id}}/delete" method="post">
        <a class="button" href="/profile/{{currentUserJs._id}}/edit">Editar</a>
        <button class="button button--delete" type="submit">Borrar cuenta</button>
      </form>
      {{/if}}
    </div>
  </article>
</section>